@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 3vmin;
  font-family: "Courier New", Courier, monospace;
}

body .background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/chess.jpg");
}

header {
  width: 35vmin;
  margin: 0 auto;
}

header > h1 {
  font-size: 4.5vmin;
  text-align: center;
  margin-top: 1vmin;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  user-select: none;
  border-radius: 1.5vmin;
}

header > h1:hover {
  cursor: pointer;
  background-color: #999999;
}

main {
  background-color: #000000;
  display: block;
  margin: 2vmin auto;
  max-width: fit-content;
  border-radius: 1.5vmin;
}

.container,
.row {
  display: flex;
}

.board {
  display: flex;
  flex-direction: column;
}

.corner {
  width: 4vmin;
}

.letters {
  display: flex;
  justify-content: space-around;
  text-align: center;
  user-select: none;
}

.letters span {
  width: 10vmin;
  height: 4vmin;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4vmin;
  text-align: center;
  user-select: none;
}

.letters span,
.numbers span {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white,
.black {
  width: 10vmin;
  height: 10vmin;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background-color: #bfbfbf;
}

.black {
  background-color: #404040;
}

.black-piece,
.white-piece {
  z-index: 1;
  font-size: 7vmin;
  user-select: none;
}

.black-piece {
  color: #000000;
}

.white-piece {
  color: #ffffff;
}
